@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: none;

    font-family: 'Poppins', sans-serif;
}

li a {
    text-decoration: none;
    color: #343433;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

    background-color: #F6F6F6;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li .weblink {
    transition: all 0.3s ease 0s;
}

.nav_links li .weblink:hover {
    color: #3AB4F2;
}

.server_ip {
    font-size: 14px;
    background-color: rgb(58, 180, 242);
    border-radius: 5px;
    padding: 10px 14px;
    font-weight: bold;
    box-shadow: 0px 0px 4px 0px rgba(58, 180, 242.5);
}

.centralweb {
     color: #3AB4F2;
}